ingress:
  # -- annotations for the ingress
  annotations: {}
  # -- enable the ingress
  enable: false
  # -- host for the ingress
  host: listmonk.local
  # -- tls configuration for the ingress
  tls: []
listmonk:
  admin:
    # -- the admin password
    password: ""
    # -- the admin username
    username: ""
  image:
    # -- the listmonk image repository
    repository: listmonk/listmonk
    # -- the listmonk image tag
    tag: v3.0.0
  # -- the number of listmonk deployment replicas
  replicas: 1
postgres:
  # -- the postgres database name
  database: listmonk
  image:
    # -- the postgres image repository
    repository: postgres
    # -- the postgres image tag
    tag: 16-alpine
  # -- the postgres password
  password: ""
  # -- resources configuration for the postgres statefulset
  resources: {}
  # -- the postgres username
  user: ""
