apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "listmonk.fullname" . }}-postgres
  labels:
    {{- include "listmonk.labels" . | nindent 4 }}
data:
  DATABASE: "{{ .Values.postgres.database}}"
  HOST: "{{ include "listmonk.fullname" . }}-postgres"
